<p>Your word: <%= @answer %></p>
<p>Time Taken to answer: <%= @result[:time] %></p>
<p>Translation: <%= @result[:translation] %></p>
<p>Your score: <%= @result[:message][0] %></p>
<p>Message: <%= @result[:message][1] %></p>
